#newTitle{
  font-size: 4em;
  color: red;
}
#newContent{
  font-size: 4em;
  color: red;
}
.newBlog{
text-align: center;
}


.text_title{
  font-size: 3em;
  box-shadow: none;
  border-radius: 20px;
}
.text_content{
  border-radius: 10px;
  resize: none;
  margin: 10px auto;
  height: 300px;
  width: 75%;
  font-size: 2em;
}
